// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import (less) "../node_modules/medium-editor/dist/css/medium-editor.min.css";
@import (less) "../node_modules/medium-editor/dist/css/themes/bootstrap.min.css";

.atom-writer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.atom-writer--editor {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.atom-writer--options {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: orange;
}
