@import "ui-variables";

@import (less) "../node_modules/medium-editor/dist/css/medium-editor.min.css";
@import (less) "../node_modules/medium-editor/dist/css/themes/bootstrap.min.css";

@import "./_variables";

.atom-writer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  font-size: 14px;
}

.atom-writer--editor {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  max-width: 800px;

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.2em;
  }

  h1, h2, h3, h4, p {
    padding: 0;
    margin: 0 0 1.5em;
  }
}

.atom-writer--options {
  input {
    color: black;
  }

  .options-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    margin-right: -40vw;
    background: #fff;

    &.open {
      animation: open-options 0.5s forwards;
    }

    &.close {
      animation: close-options 0.5s forwards;
    }

    @keyframes open-options {
      0% { margin-right: -40vw; }
      100% { margin-right: 0vw; }
    }

    @keyframes close-options {
      0% { margin-right: 0vw; }
      100% { margin-right: -40vw; }
    }
  }

  nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;

    #exit-button {
      position: absolute;
      height: 35px;
      width: 60px;
      background: rgba(0,0,0,.2);
      line-height: 35px;
      margin: 18px auto;
      right: 50px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
    }

    #menu-button {
      width: 40px;
      height: 30px;
      position: relative;
      margin: 20px auto;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: rgba(0,0,0,1);
        border-radius: 6px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0px;
      }

      span:nth-child(2), span:nth-child(3) {
        top: 12px;
      }

      span:nth-child(4) {
        top: 24px;
      }

      &.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      &.open span:nth-child(2) {
        transform: rotate(45deg);
      }

      &.open span:nth-child(3) {
        transform: rotate(-45deg);
      }

      &.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }

  button#save {
    width: 90%;
    margin: auto;
  }
}
